pip
bump2version
watchdog
flake8
tox
coverage
Sphinx
twine
{% if cookiecutter.command_line_interface|lower == 'click' -%}
Click>=7.0{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest>=6.2.4{% endif %}
{% if cookiecutter.use_black == 'y' -%}
black>=21.7b0{% endif %}
